.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 68px; /* fixed navbar height */
}

main {
  flex: 1;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
